form div + div {
    margin-top: 1em;
}
label {
    display: inline-block;
    /* you need to specify width */
}
input, textarea {
    font-size: 1em;
    box-sizing: border-box;
    width: 35vw;
}
textarea {
    min-height: 10em;
    vertical-align: top;
}
