{% extends "layout.html" %}
{% block title %}About {{ site_name }}{% endblock %}
{% block content %}
            <h2>About {{ site_name }}</h2>
            <section>
                <h3>What is this site?</h3>
                <p>{{ site_name }} is an anonymous imageboard which tries to be simple yet convenient.</p>
                <p>Source code of the site (frontend + backend) is available on <a href="https://github.com/andtit2001/miptach" target="_blank">GitHub</a>.</p>
                <p><em>The site is currently under active development. If you have any suggestions, don't hesitate to contact developer(s)!</em></p>
            </section>
            <section>
                <h3>List of staff</h3>
                <ul>
                    <li>Developer &mdash; <a href="#contact-andtit2001">andtit2001</a></li>
                    <li>Administrator &mdash; <a href="#contact-andtit2001">andtit2001</a></li>
                    <li>Testers:
                        <ul>
                            <li>exploit228</li>
                        </ul>
                    </li>
                </ul>
            </section>
            <section>
                <h3>Contacts</h3>
                <ul>
                    <li>
                        <a id="contact-andtit2001">andtit2001</a>:<br>
                        If you have suggestions about the site itself, then go to <a href="/d/">/d/</a>, else go to <a href="https://github.com/andtit2001/miptach#contacts">GitHub</a>.<br>
                        (Damn, it's pretty hard to explain which variant you should choose.)
                    </li>
                </ul>
            </section>
{% endblock %}
