{% extends "layout.html" %}
{% block title %}/{{ board_info[0] }}/ &mdash; {{ board_info[1] }} (archive) | {{ site_name }}{% endblock %}
{% block add_to_head %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/form.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/table.css') }}">
        <style>label { width: 15vw; }</style>
{% endblock %}
{% block content %}
            <h2>/{{ board_info[0] }}/ &mdash; {{ board_info[1] }} (archive)</h2>
            <h3><a href="/{{ board_info[0] }}/">Go back to /{{ board_info[0] }}/</a></h3>
            <section>
                <h3>List of threads</h3>
                <table>
                    <thead><tr><th>ID</th><th>Title</th><th>Creation time</th></tr></thead>
                    {% for thread in threads %}
                    <tr>
                        <td class="id"><a href="{{ thread[0] }}">{{ thread[0] }}</a></td>
                        <td class="title" style="max-width: 60vw;"><div><a href="{{ thread[0] }}">{{ thread[1] }}</a></div></td>
                        <td class="time" style="max-width: 19ch;">{{ thread[2] }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </section>
{% endblock %}
