{% extends "layout.html" %}
{% block title %}/{{ board_info[0] }}/ &mdash; {{ board_info[1] }} | {{ site_name }}{% endblock %}
{% block add_to_head %}
        <link href="{{ url_for('static', filename='css/form.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', filename='css/table.css') }}" rel="stylesheet" type="text/css">
        <style>label:not(.expression) { width: 15vw; }</style>
{% endblock %}
{% block content %}
            <script type="text/javascript">
var visible = false
var template = document.createElement("template")
template.innerHTML = `
        <form id="form" action="/{{ board_info[0] }}/" method="POST">
            <div>
                <label for="name">Thread title:</label>
                <input id="name" name="thread_title" type="text" required minlength="3" maxlength="100">
            </div>
            <div>
                <label for="text">Text for initial post:</label>
                <textarea id="text" name="initial_text" required minlength="3" maxlength="10000"></textarea>
            </div>
            <div>
                <label for="expr">Expression:</label>
                <label class="expression" id="expr" name="expr">{{ captcha[1] }}</label>
                <input id="uuid" name="uuid" type="hidden" value="{{ captcha[0] }}">
            </div>
            <div>
                <label for="expr_value">Value of the expression:</label>
                <input id="expr_value" name="expr_value" type="number" required>
            </div>
            <div class="button">
                <button type="submit">Create</button>
            </div>
        </form>`
var form = template.content

function toggle_form() {
    if (visible) {
        var elem = document.getElementById("form")
        form = elem.parentNode.removeChild(elem)
        document.getElementById("toggle_form_link").setAttribute("title", "Open form for creating thread")
    } else {
        var elem = document.getElementById("insert_before_that")
        elem.parentNode.insertBefore(form, elem)
        document.getElementById("toggle_form_link").setAttribute("title", "Close form")
    }
    visible = !visible
}
            </script>

            <h2>/{{ board_info[0] }}/ &mdash; {{ board_info[1] }}</h2>
            <div>
                <h3><a id="toggle_form_link" href="javascript:toggle_form()" title="Open form for creating thread">Create thread</a></h3>
                <a id="insert_before_that"></a>
            </div>
            <section>
                <h3>List of threads</h3>
                <table>
                    <thead><tr><th>ID</th><th>Title</th><th>Creation time</th></tr></thead>
                    {% for thread in threads %}
                    <tr>
                        <td class="id"><a href="{{ thread[0] }}">{{ thread[0] }}</a></td>
                        <td class="title" style="max-width: 60vw;"><div><a href="{{ thread[0] }}">{{ thread[1] }}</a></div></td>
                        <td class="time" style="max-width: 19ch;">{{ thread[2] }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </section>
            <h3><a href="arch/">Archive</a></h3>
{% endblock %}
