{% extends "layout.html" %}
{% block title %}{{ site_name }}{% endblock %}
{% block add_to_head %}
        <style>
            table {
                border: 2px solid black;
                border-spacing: 0px;
                max-width: 100vw;
            }
            th {
                border-bottom: 1px solid black;
            }
            td {
                padding: 0.25em;
            }
        </style>
{% endblock %}
{% block content %}
            <p>Welcome to {{ site_name }}, an anonymous imageboard which was created by MIPT student(s)!</p>
            <section>
                <table>
                    <thead><tr><th>List of boards</th></tr></thead>
                    {% for item in board_list %}
                    <tr><td><a href="/{{ item[0] }}/">{{ item[1] }}</a></td></tr>
                    {% endfor %}
                </table>
            </section>
            <p><a href="/about">About</a></p>
{% endblock %}
