<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link href="{{ url_for('static', filename='favicon.ico') }}" rel="icon">
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Roboto|Roboto+Mono&amp;subset=cyrillic" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/default.css') }}" rel="stylesheet" type="text/css">
        {% block add_to_head %}{% endblock %}
    </head>
    <body>
        <header>
            <h1><a href="/">{{ site_name }}</a></h1>
        </header>
        {% if announce is defined and announce is not none %}
        <h2 class="announce">Announcement:<br> {{ announce }}</h2>
        {% endif %}
        <div>
        {% block content %}{% endblock %}
        </div>
        <footer>
            <p>&copy; Copyright 2019 by <a href="https://vk.com/andtit2001" target="_blank">andtit2001</a><br>
            Licensed under <a href="https://www.gnu.org/licenses/agpl.html" target="_blank">GNU AGPL v3</a> or later.</p>
            <p>Contact: <code><script>document.write("&#116;&#105;&#116;&#111;&#118;&#46;&#97;")</script>&#107;&#64;&#112;&#104;&#121;&#115;&#116;&#101;&#99;&#104;&#46;&#101;&#100;&#117;</code></p>
        </footer>
    </body>
</html>
