{% extends "layout.html" %}
{% block title %}Rules | {{ site_name }}{% endblock %}
{% block content %}
            <h2>Rules of MIPTach</h2>
            <ul>
                <li>All content should be legal in country where server is located<br>
                    (Currently it is Russian Federation)</li>
                <li><a href="/sandbox/">/sandbox/</a> is the only board where you can use pure HTML.<br>
                    That's why I recommend using <a href="https://curl.haxx.se/"><code>curl</code></a> before opening any thread in that board.</li>
                <li>All other boards let you use <a href="https://daringfireball.net/projects/markdown/syntax">Markdown syntax</a> for formatting posts and <a href="https://docs.mathjax.org/en/latest/mathjax.html">MathJax</a> for writing formulas.<br>
                    (<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/img"><code>&lt;img&gt;</code></a> tags are disabled)</li>
                <li>I do not have much time to moderate the site, so&hellip; please, respect each other!<br>
                    Post content in corresponding boards/threads.</li>
            </ul>
            <p>Sincerely,<br>Administrator</p>
{% endblock %}
