{% extends "layout.html" %}
{% block title %}/{{ board_info[0] }}/ &mdash; {{ thread_title }} | {{ site_name }}{% endblock %}
{% block add_to_head %}
        <link href="{{ url_for('static', filename='css/form.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', filename='css/table.css') }}" rel="stylesheet" type="text/css">
        <style>label:not(.expression) { width: 11ch; }</style>
        <script src="{{ url_for('static', filename='js/MathJax/MathJax.js') }}?config=TeX-MML-AM_CHTML" async></script>
{% endblock %}
{% block content %}
            {% if not archived %}
            <script type="text/javascript">
var visible = false
var template = document.createElement("template")
template.innerHTML = `
        <form id="form" action="/{{ board_info[0] }}/{{ thread_id }}" method="POST">
            <div>
                <label for="text">Text:</label>
                <textarea id="text" name="content" required minlength="3" maxlength="10000"></textarea>
            </div>
{% if captcha is defined and captcha is not none %}
            <div>
                <label for="expr">Expression:</label>
                <label class="expression" id="expr" name="expr">{{ captcha[1] }}</label>
                <input id="uuid" name="uuid" type="hidden" value="{{ captcha[0] }}">
            </div>
            <div>
                <label for="expr_value">Value of the expression:</label>
                <input id="expr_value" name="expr_value" type="number" required>
            </div>
{% endif %}
            <div class="button">
                <button type="submit">Send</button>
            </div>
        </form>`
var form = template.content

function toggle_form() {
    if (visible) {
        var elem = document.getElementById("form")
        form = elem.parentNode.removeChild(elem)
        document.getElementById("toggle_form_link").setAttribute("title", "Open form for creating post")
    } else {
        var elem = document.getElementById("insert_before_that")
        elem.parentNode.insertBefore(form, elem)
        document.getElementById("toggle_form_link").setAttribute("title", "Close form")
    }
    visible = !visible
}
            </script>
            {% endif %}
        
            {% if archived %}
            <h2><a href="/{{ board_info[0] }}/arch/">/{{ board_info[0] }}/ &mdash; {{ board_info[1] }} (archive)</a></h2>
            {% else %}
            <h2><a href="/{{ board_info[0] }}/">/{{ board_info[0] }}/ &mdash; {{ board_info[1] }}</a></h2>
            {% endif %}
            <section>
                <h3>{{ thread_title }}</h3>
                <table>
                    <thead><tr><th>ID</th><th>Post</th><th>Creation time</th></tr></thead>
                    {% for post in posts %}
                    <tr>
                        <td class="id"><a id="{{ post[0] }}" href="#{{ post[0] }}" title="Link to this post">{{ post[0] }} ({{ loop.index - 1 }})</a></td>
                        <td class="content" style="word-wrap: break-word;">{{ post[1] }}</td>
                        <td class="time">{{ post[2] }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </section>
            {% if not archived %}
            <div>
                <h3><a id="toggle_form_link" href="javascript:toggle_form()" title="Open form for creating post">Create post</a></h3>
                <a id="insert_before_that"></a>
            </div>
            {% endif %}
{% endblock %}
